/*minhas variaveis*/
:root{
    --vermelho: #E50914;
    --preta: #141414;
}
/*global*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: var(--preta);
    font-family: 'Arial', Times, serif;
    color: #fff
}
header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
header .logo{
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}
header nav a{
    text-decoration: none;
    color: #aaa;
    margin-right: 10px;
}
header nav a:hover{
    color: #fff;
}
/*filme principal*/
.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('../img/capa-house.jpg');
    height: 400px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.filme-principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;
}
.filme-principal .titulo{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}
/*botoes de play e mais informações*/
.botao{
    background-color: rgba(0,0,0,.50);
      
    border:none;
    color: white;
    padding:15px 15px;
    margin-right: 15px;
    font-size: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position:relative;
    cursor: pointer;
    transition: .3s ease all;
     
}
/*evento que acontece com a caixa de mensagem do botao de mais informações*/
.mensagem{
    display:none;
    position:absolute;
    top: 0; /* Usei % para que voce entenda que da para se adaptar com o tamanho do botão/container ou qualquer outra coisa a qual a mensagem esta relacionada*/
    left:130%;
    right:0;
    margin: auto;
    width:1000px;
    height:50px;
    border:1px solid transparent;  
    background-color: rgba(10,23,55,0.5);
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;   
} 
/*esttilo no texto de aparece*/
.caixa{
    text-align: center;
    color:white;
    font-family: Arial, sans-serif;
    font-size: 16px;
} 
  
.botao:hover{
    background-color:white;
    color:black;
}

.botao i{
    margin-right: 8px;
    
}
.container{
    margin-left: 20px;
}
.filme-principal .container{
    width: 70%;
}
.box-filme .item{
    height: 10%;
    width: 10%;
    display: block;
}
.carrosel-filmes{
    margin-top: 5px;
}
/*mudar a cor de quando clicar no link continue o texto preto*/
a:visited{
    color:white;
}

  
